<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" data-th-replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product page</title>
</head>

<body>
    <section>

        <div class="sm:grid sm:grid-cols-8 sm:pt-3">
            <div class="sm:col-span-2   pl-3 pr-3">
                <ul class="border hover:bg-slate-600 p-3">
                    <a>All</a>
                </ul>
                <ul class="border hover:bg-slate-600 p-3">
                    <a>Electronic</a>
                </ul>
                <ul class="border hover:bg-slate-600 p-3">
                    <a>laptop</a>
                </ul>
                <ul class="border hover:bg-slate-600 p-3">
                    <a>MobilePhone</a>
                </ul>
                <ul class="border hover:bg-slate-600 p-3">
                    <a>cloth</a>
                </ul>
                <ul class="border hover:bg-slate-600 p-3">
                    <a>fashion</a>
                </ul>
                <ul class="border hover:bg-slate-600 p-3">
                    <a>book</a>
                </ul>

            </div>
            <div class="sm:col-span-6 flex flex-wrap ">
                <div class="p-1 pb-4">
                    <div class="w-64 h-fit  overflow-hidden  text-center">
                        <div class="">
                            <img src="/img/productImg/dryfruits.jpeg" alt="">
                        </div>
                        <h2 class="text-center font-bold text-2xl">Dry Fruits Kagu and there benfite is
                            awsome</h2>
                        <div class="flex flex-initial justify-center space-x-4 pb-2">
                            <p class="text-center ">&#8377; 200 </p><span class="text-center">20%off</span>
                        </div>
                        <div class="p-2">
                            <a data-th-href="@{/products}"
                                class="p-2 text-white font-bold bg-blue-600 border-black ">view
                                Details</a>
                        </div>
                    </div>
                </div>

                <!-- TODO : remove form backend -->

                <div class="p-1">
                    <div class="w-64 h-fit  overflow-hidden  text-center">
                        <div class="">
                            <img src="/img/productImg/dryfruits.jpeg" alt="">
                        </div>
                        <h2 class="text-center font-bold text-2xl">Dry Fruits Kagu and there benfite is
                            awsome</h2>
                        <div class="flex flex-initial justify-center space-x-4 pb-2">
                            <p class="text-center ">&#8377; 200 </p><span class="text-center">20%off</span>
                        </div>
                        <div class="p-2">
                            <a data-th-href="@{/products}"
                                class="p-2 text-white font-bold bg-blue-600 border-black ">view
                                Details</a>
                        </div>
                    </div>
                </div>
                <div class="p-1">
                    <div class="w-64 h-fit  overflow-hidden  text-center">
                        <div class="">
                            <img src="/img/productImg/dryfruits.jpeg" alt="">
                        </div>
                        <h2 class="text-center font-bold text-2xl">Dry Fruits Kagu and there benfite is
                            awsome</h2>
                        <div class="flex flex-initial justify-center space-x-4 pb-2">
                            <p class="text-center ">&#8377; 200 </p><span class="text-center">20%off</span>
                        </div>
                        <div class="p-2">
                            <a data-th-href="@{/products}"
                                class="p-2 text-white font-bold bg-blue-600 border-black ">view
                                Details</a>
                        </div>
                    </div>
                </div>
                <div class="p-1">
                    <div class="w-64 h-fit  overflow-hidden  text-center">
                        <div class="">
                            <img src="/img/productImg/dryfruits.jpeg" alt="">
                        </div>
                        <h2 class="text-center font-bold text-2xl">Dry e is
                            awsome</h2>
                        <div class="flex flex-initial justify-center space-x-4 pb-2">
                            <p class="text-center ">&#8377; 200 </p><span class="text-center">20%off</span>
                        </div>
                        <div class="p-2">
                            <a data-th-href="@{/products}"
                                class="p-2 text-white font-bold bg-blue-600 border-black ">view
                                Details</a>
                        </div>
                    </div>
                </div>
                <div class="p-1">
                    <div class="w-64 h-fit  overflow-hidden  text-center">
                        <div class="">
                            <img src="/img/productImg/dryfruits.jpeg" alt="">
                        </div>
                        <h2 class="text-center font-bold text-2xl">Dry Fruits Kagu
                            awsome</h2>
                        <div class="flex flex-initial justify-center space-x-4 pb-2">
                            <p class="text-center ">&#8377; 200 </p><span class="text-center">20%off</span>
                        </div>
                        <div class="p-2">
                            <a data-th-href="@{/products}"
                                class="p-2 text-white font-bold bg-blue-600 border-black ">view
                                Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>